{% extends 'base.html' %}
{% load static %}
{% block title %}Booktopia{% endblock %}

{% block content %}
    <style>

    </style>
    <main>
    <section class="py-5 text-center container section_image">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
                <p class="lead text-muted">“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”
                    <br>-Dr. Seuss</p>
                <p>
                    {% if user.is_authenticated %}
                    {% else %}
                         <a href="{% url "account:register" %}" class="btn btn-primary my-2">Make an account</a>
                    {% endif %}

                </p>
            </div>
        </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                  </p>
                  <div class="fw-bold">£{{product.price}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>



    </main>
{% endblock %}